@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    color: gray;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(185, 75%, 39%);
    background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 4vw bottom 50vh, left 9vw top 45vh;
}

p {
    color: black;
}

#container {
    background-color: white;
    width: 85vw;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.356);
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#container #imagem {
    background-image: url('../images/bg-pattern-card.svg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 130px;

}

#container #pfp {
    background-image: url('https://avatars.githubusercontent.com/u/97467970?v=4');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 4px solid white;
    margin: auto;
    position: absolute;
    transform: translateY(90px);
    right: 0;
    left: 0;
}

#container #name {
    margin-top: 50px;
    font-size: 0.8em;
    text-align: center;
}

#container #name h2 {
    display: inline-block;
    color: gray;
    margin-bottom: 10px;
}

#container #name h2#username {
    color: rgb(33, 33, 33);
}

#data {
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
    border-top: 0.5px solid rgba(129, 129, 129, 0.276);
    padding-top: 40px;
}

#data #numeros {
    width:  100%;
    margin-left: 3px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bolder;
    position: absolute;
    top: 0;
    bottom: 0;
}

#data #followers {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    right: 0;
    left: 0;
    font-size: 0.7em;
}

.gray {
    color: gray;
}

